<!-- /phpunit.xml.dist -->
<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="My Test Suite">
            <directory>./tests</directory>
            <file>../calculator.php</file>
        </testsuite>
    </testsuites>
</phpunit>